/* Table of contents  */
.section-nav {
  display: inline-block;
  background-color: #fff;
  margin: 0px 0 20px 0;
  padding: 10px 30px;
  border: 1px solid #e8e8e8;
  border-radius: 20px;
}


[class=" container-md "] {
   float: right;
}

/* footer  */

footer  {
  display: inline-block;
  width: 100%;
}